import React from 'react'
import { PageContainer } from '@/shared/components/ui/PageContainer'

export default function {{pascalCase name}}Page() {
  return (
    <PageContainer title="{{pascalCase name}} 模块">
      <div className="bg-white p-6 rounded-lg shadow-sm">
        这里是 {{pascalCase name}} 模块的内容区
      </div>
    </PageContainer>
  )
}
